@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

:root {
    --bgcolor1: #1b1b1b;
    --bgcolor2: #2b2b2b;
    --fontcolor: white;
    --btcolor: #464646;

}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    overflow: overlay;

}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image: url('../images/bg/mountains-blur-8-min.jpg');
    background-position: center top;
    background-size: cover;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#center_home {
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    color: white;
}

#center_home h1 {
    font-size: 2.8rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

#home-h1 {
    width: 100%;
    display: inline-block;

}

#sequence {
    text-align: center !important;
    font-size: 4rem;

}

/* About card section */

#about-card {
    height: auto;
    background-color: var(--bgcolor1);
    color: var(--fontcolor);
    font-size: large;
    transition: all ease 100ms
}

#me-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#about-text {
    margin: 20px;
    width: 90%;
    text-align: justify;
    display: inline-block;
}

#about-text p{

    hyphens: auto;
}

/* Education card section */

#education-card {
    height: auto;
    background-color: var(--bgcolor2);
    color: var(--fontcolor);
    font-size: large;
    transition: all ease 100ms
}

.edu-all {
    margin: auto;
    padding-bottom: 20px;
}

.education-item {
    margin-bottom: 20px;
    transition: all ease 500ms
}

.edu-inside {
    background-color: var(--bgcolor1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.education-item img {
    margin-top: 10px;
    margin-bottom: 10px;

}


.education-item:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    transition: all ease 500ms
}

/* Experience card section */

#experience-card {
    height: auto;
    background-color: var(--bgcolor1);
    color: var(--fontcolor);
    font-size: large;
    transition: all ease 100ms
}

.experience-item {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: var(--bgcolor2);
    border-radius: 15px;
    transition: all ease 500ms
}

.exp-comp {
    margin-top: 20px;
    margin-bottom: 20px;
}

.experience-item:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    transition: all ease 500ms
}

.experience-item img {
    margin-bottom: 10px;
    margin-top: 30px;

}


/* Skills card section */

#skills-card {
    height: auto;
    background-color: var(--bgcolor2);
    color: var(--fontcolor);
    font-size: large;
    transition: all ease 100ms
}

.skills-item {
    margin-top: 50px;
    margin-bottom: 50px;
}

.skill-category {
    text-align: center;
    margin-top: 20px;
}


.skill-category-circle {
    text-align: center;
    display: inline-block;
    border: 2px solid var(--fontcolor);
    border-radius: 20px;
    transition: all ease 300ms
}

.skill-category-circle:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
    transition: all ease 300ms
}


.skill-category h3 {
    margin: 5px 20px 5px 20px;
    text-align: center;
}

.skill-details {
    padding-top: 20px;
    padding-bottom: 30px;
}

.p-skills {
    margin: auto
}

.prog-item {
    background-color: var(--bgcolor1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all ease 200ms
}

.prog-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all ease 200ms
}

.t-skills {
    margin: auto
}

.tool-item {
    background-color: var(--bgcolor1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all ease 200ms
}

.tool-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all ease 200ms
}

.s-skills {
    margin: auto
}

.ss-item {
    background-color: var(--bgcolor1);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all ease 200ms
}

.ss-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: all ease 200ms
}

.ss-item h3 {
    text-align: center;
}

.l-skills {
    margin: auto
}

.lang-item h3 {
    font-weight: bold;
}

.lang-item ul {
    margin-top: 10px;
}

.lang-item {
    background-color: var(--bgcolor1);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lang-item:hover {
    -webkit-transform: scale(1.00);
    -ms-transform: scale(1.00);
    transform: scale(1.00);
}

.lang-item ul {
    list-style-type: square;
}

.img-skill img {
    display: block;
    margin: auto;
}

#plus-icon {
    color: var(--fontcolor);
    padding: 10px;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 30px;
    top: 10px;

}


/* Projects card section */

#projects-card {
    height: auto;
    background-color: var(--bgcolor1);
    color: var(--fontcolor);
    font-size: large;
    transition: all ease 100ms
}

.proj-all {
    margin: auto;
    padding-bottom: 20px;
}

.proj-inside {
    background-color: var(--bgcolor2);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects-item {
    transition: all ease 500ms
}

.projects-item:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    transition: all ease 500ms
}

.projects-item img {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px 8px black inset;
}

.projects-item h1 {
    margin-top: 20px;
}

.projects-item a {
    color: inherit;
    text-decoration: inherit;
    ;
}

/* Misc section */


.row {
    margin-left: 0;
    margin-right: 0;
}

.title-card {
    text-align: center;
    padding-top: 20px;
}

.title-card h1 {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 4px;

    font-size: 3.5rem;
    font-weight: 100;
    border: 2px solid var(--fontcolor);
    border-right-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
}